# vscode
.vscode 

# Intellij
*.iml
.idea

# dependencies
node_modules

# Exclude sourcemaps
*.map

# mutation testing
.stryker-tmp/
reports/
stryker.log

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

dist/
