# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

dist/
**/*.md
**/*.markdown
dev-vault/
**/*.ts.bak
build.log
confcloud.1.postman.json
confcloud.2.postman.json
openapi_v1.json
openapi-v2.v3.json
